@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  font-style: normal;
  src: url('~/static/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat-Bold';
  font-weight: 600;
  font-style: normal;
  src: url('~/static/fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
}
