* {
  font-family: 'Poppins', sans-serif;
  ::-webkit-scrollbar {
    width: 3px!important;
    height: 3px!important;
  }
  ::-webkit-scrollbar-track {
    width: 12px;
    background: white;
    border-left: 0px solid white;
    border-right: 0px solid white;
  }
  ::-webkit-scrollbar-thumb {
    background: #28a745;
    width: 0;
    height: 25%;
  }
}
img {
  max-width: 100%;
}
header {
  background-color: #fff!important;
  box-shadow: unset!important;
}
.header-scrolling {
  backdrop-filter: blur(16px);
  background-color: rgba(234, 236, 242, 0.688)!important;
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%)!important;
}
.token-img {
  max-width: 25px;
  max-height: 25px;
}
.menu-zone {
  display: flex;
  align-items: center;
  & > div {
    cursor: pointer;
  }
  & > *:not(:last-child) {
    margin-right: 25px;
  }
}
.v-application--is-ltr .v-badge__badge {
  inset: unset!important;
  right: 4px!important;
  top: -8px!important;
}
.link-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  & > div:not(:last-child) {
    margin-right: 25px
  }
  @media screen and (max-width: 700px) {
    display: none;
  }
}
.link-wrap-mobile {
  display: flex;
  flex-direction: column;
  & > div {
    margin-right: 25px;
    padding: 10px 20px;
  }
  & > * {
    margin-bottom: 15px;
  }
}
.gradient-btn {
  background: linear-gradient(
    221.15deg
    , #BD8727 0%, #FFD574 49.02%, #FECA50 62.02%, #BD8727 101.47%);
}
.disable-btn {
  filter: grayscale(100%)!important;
}
.green-gradient-btn {
  color: #fff;
  background: linear-gradient(221.15deg, #1b8c19 0%, #32ea2f 49.02%, #3de43a 62.02%, #1b8c19 101.47%);
}
.ebet-element {
  padding: 6em 0;
  @media screen and (max-width: 599px) {
    padding: 3em 0;
  }
}
.ebet-element__caption {
  .ebet-element__caption-text {
    font-size: 36px;
    line-height: 44px;
    text-transform: uppercase;
    text-align: center;
    color: #37AB76;
    font-weight: 600!important;
  }
  .underlined {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    & > hr {
      width: 100px;
      height: 2px;
      background: #fff;
      &:first-child {
        margin-right: 15px;
      }
    }
  }
}
.metamask-chip {
  background: #F5D0B1 !important;
  color: #282C37 !important;
}

.binance-chip {
  background: #F9E39E !important;
  color: #282C37 !important;
}

.trust-chip {
  background: linear-gradient(0deg, rgba(51, 116, 186, 0.4), rgba(51, 116, 186, 0.4)), #FFFFFF !important;
  color: #282C37 !important;
}

.safepal-chip {
  background: #BAB8FF !important;
  color: #282C37 !important;
}

.walletconnect-chip {
  background: linear-gradient(0deg, rgba(59, 153, 251, 0.1), rgba(59, 153, 251, 0.1)), #FFFFFF !important;
  color: #282C37 !important;
}

.metamask-chip, .binance-chip, .trust-chip, .safepal-chip, .walletconnect-chip {
  width: 100% !important;
  margin: 0 0 5px 0 !important;
  .v-chip__content {
    width: 100%
  }
}

.metamask-chip div, .binance-chip div, .trust-chip div, .safepal-chip div, .walletconnect-chip div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.metamask-chip div img, .binance-chip div img, .trust-chip div img, .safepal-chip div img, .walletconnect-chip div img {
  width: 40px;
  margin-right: 10px !important;
}

.metamask-chip .loading, .binance-chip .loading, .trust-chip .loading, .safepal-chip .loading, .walletconnect-chip .loading {
  width: 100%;
  justify-content: center;
}
.note-dashboard-zone {
  border-top: 2px dashed #BDBDBD;
  margin-top: 15px;
  font-size: 14px;
  padding-top: 10px;
}

.note-dashboard {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  padding: 10px;
  font-size: 14px;
  text-align: left;
  padding-top: 15px;
  margin: 15px 0;
}

.note {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  color: #F93E3E;
  margin: 15px 0;
}

.bet-page {
  background: #0D1120!important;
}

.bet-matches {
  .v-tabs-bar {
    background-color: #13192F!important;
  }
  .v-sheet.v-card:not(.v-sheet--outlined) {
    box-shadow: unset;
  }
}
.wrap-choosing {
  .v-btn__content {
    font-weight: bold;
  }
}
.v-slide-group__prev {
  @media screen and (max-width: 599px) {
    display: none!important;
  }
}
.open-button {
  &:focus {
    &::before {
      opacity: 0!important
    }
  }
}
.loading-circle {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.hidden-desktop {
  display: block;
  @media screen and (max-width: 1150px) {
    display: none;
  }
}
.hidden-mobile {
  display: none;
  @media screen and (max-width: 1150px) {
    display: block;
  }
}
.activeMethod {
  background: rgb(248, 176, 23);
  color: #000!important;
  font-weight: bold!important;
}
.v-tabs-slider {
  color: rgb(248, 176, 23)!important;
}

.basil .v-tab {
  color: #fff!important;
}
.basil .v-card__text {
  color: #000!important;
}
.title-text {
  font-size: 42px!important;
  color: #37AB76;
  font-weight: 600;
  text-align: center;
}
.title-text-below {
  width: 70%;
  text-align: center;
  margin: 10px auto auto auto;
  color: #757575;
}
.custom-card {
  border: 1px solid #E5E7EB!important;
  cursor: pointer;
  min-height: 440px;
  width: 31%;
  max-width: 370px!important;
  margin: 0 2% 2% 0;
  transition: .2s;
  box-shadow: none!important;
  position: relative;
  border-radius: 10px!important;
  @media screen and (max-width: 599px) {
    width: 100%;
    margin-right: 0;
  }
}
.company-products .custom-card {
  @media screen and (max-width: 599px) {
    min-height: unset!important;
    height: 260px;
    width: 49%;
    margin-right: 0;
  }
}
.custom-badges {
     width: 150px;
    height: 150px;
    overflow: hidden;
    position: absolute;
      top: -10px;
    right: -10px;
}
.custom-badges__content {
    left: -25px;
    top: 30px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    display: block;
    width: 225px;
    padding: 10px 0;
    background-color: #f5cd79;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.192);
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
    text-transform: uppercase;
    text-align: center;
    border: 2px dotted #fff;
    outline : 5px solid  #f5cd79;

  
}
.custom-badges::before {
    top: 0;
    left: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
    border: 5px solid #f19066;
    box-sizing: content-box;

}
.custom-badges::after {
    bottom: 0;
    right: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
    border: 5px solid #f19066;

}


.custom-card:hover {
  border: 1px solid #37AB76!important;
  /* Shadow 4 */

  box-shadow: 0px 6px 12px -6px rgba(24, 39, 75, 0.12), 0px 8px 24px -4px rgba(24, 39, 75, 0.08)!important;
}
.custom-btn-green{
  box-shadow: none!important;
  text-transform: unset;
  background-color: #fff!important;
  border: 1px solid #3bb77e;
  b, i {
    color: #3BB77E!important;
    text-transform: none;
    padding: 0 3px;
  }
  &:hover {
    b, i {
      color: #fff!important;
    }
    background: #3bb77e!important;
  }
}
.btn-menu {
  i {
    color: rgb(37, 61, 78)!important;
  }
}
.btn-menu:hover {
  i, b {
    color: #3BB77E !important;
  }
}
.product-item-image img {
  width: 85px;
}
button {
  box-shadow: none!important;
}
.title-tomato {
  @media screen and (max-width: 599px) {
    display: none;
  }
}
.card-company {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  @media screen and (max-width: 599px) {
    justify-content: center;
  }
}
.diary-qr-zone {
  background: #FAFAFA;
  border-radius: 16px;
  padding: 60px;
  display: flex;

  .write-btn {
    display: flex;
    justify-content: center;
    button {
      margin-bottom: 10px;
    }
  }
  @media screen and (max-width: 599px) {
    flex-direction: column;
    padding: 10px;
    & > div:first-child {
      width: 100%!important; 
    }
    .write-btn {
      button {
        margin: 50px auto 20px auto;
      }
    }
  }
}
.diary-zone {
  width: 70%;
  cursor: pointer;
  border-radius: 15px;
  position: relative;
  @media screen and (max-width: 599px) {
    width: 100%!important; 
  }
}
.card-title {
  font-size: 20px!important;
  font-weight: 500!important;
  display: block!important;
  color: #213449;
  text-align: center;
}
.v-chip-group .v-chip {
  color: #3BB77E!important;
}
.v-application .black--text {
  color: #3BB77E!important;
}
.theme--light.v-chip {
  background: #DEF9EC !important;
}
.card-text-content {
  min-height: 90px;
}
.bg-primary {
  background: #F6FFFB;
}
.rate-zone {
  margin: 0!important;
  justify-content: center;
}
.des-row {
  color: #757575;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
  span {
    color: #757575;
    font-weight: 500;
  }
}
.footer-custom {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 30px 0;
  @media screen and (max-width: 599px) {
    flex-direction: column;
  }
}
.custom-card-product {
  padding: 20px;
  border-radius: 10px;
  &:hover {
      border: 1px solid #37AB76;
      box-shadow: 0px 1px 2px rgba(17, 24, 39, 0.06), 0px 1px 3px rgba(17, 24, 39, 0.1);
      & > .info-zone > div {
          color: #37AB76;
      }
  }
}
.info-zone {
  margin-top: 25px;
  color: #757575;
  overflow: hidden;
  white-space: nowrap;
  & > div {
      margin-bottom: 16px;
  }
  & > div:first-child {
      font-size: 20px;
      color: #213449;
      margin-bottom: 2px;
      font-weight: 600;
  }
}
a {
  color: #2590d2!important;
}
.custom-tab {
  padding: 10px 0;
  margin: 30px 0;
  display: flex;
  align-items: center;
  overflow-x: scroll;
  & > button {
    text-decoration: none;
    padding: 0 30px;
    box-shadow: unset;
    margin-right: 32px;
  }
}
.company-info-zone {
  width: 50%;
  max-width: 500px;
  text-align: left;
  @media screen and (max-width: 599px) {
    width: 100%;
  }
}
.company-img-zone {
  margin-right: 48px;
  @media screen and (max-width: 599px) {
    margin-right: 0;
  }
}
.company-products {
  display: flex;
  align-items: center;
  @media screen and (max-width: 599px) {
    gap: 1%;
    flex-wrap: wrap;
  }
}