.banner {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: -64px;
  padding-top: 64px;
  @media screen and (max-width: 599px) {
    display: none;
  }
  .banner-content {
    color: #fff;
    // text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -43%);
    & > div:not(:last-child) {
      margin-bottom: 10px;
    }
    .banner-content__caption {
      font-family: 'Montserrat-Bold';
      font-weight: 600;
      font-size: 48px;
      line-height: 50px;
    }
    .banner-content__sub-caption {
      font-size: 18px;
    }
    .v-btn {
      margin-top: 15px
    }
  }
}
