.bet-history {
  .bet-history__caption {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .claim-all {
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
  }
  .custom-tb {
    ::-webkit-scrollbar {
      width: 3px!important;
      height: 3px!important;
    }
    ::-webkit-scrollbar-track {
      width: 12px;
      background: white;
      border-left: 0px solid white;
      border-right: 0px solid white;
    }
    ::-webkit-scrollbar-thumb {
      background: #F8B017;
      width: 0;
      height: 25%;
    }
  }
}
